{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Welcome auf der Seite</h1>
        </div>
        <div class="col-8">
            <p>Welcome auf dieser super Rezeptseite wo es dir alles direkt anzeigt. alles einfach.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{{ url_for('rezepte_speichern') }}" ><button type="button" class="btn btn-secondary">Ein neues Rezept speichern..</button></a>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-4">
            {% for d in rl %}
                {% for key, value in d.items() %}

                {% if key == "name" %}
                <h3 style="margin-top:20px;">{{ value }}</h3>
                
                {% elif key == "zutaten" %}
                    {% for zut_key, zut_value in d["zutaten"].items() %}
                        <span>{{ zut_key }}
                        </span>
                        </span>
                        {% autoescape false %}
                          {{ zut_value | replace(",", " ") }}
                        {% endautoescape %}
                        </span>
                    {% endfor %}
        </div>
        <div class="col-4">
                {% elif key == "img" %}
                <img class="col-4" src="../static/img/rzp_images/{{ value }}" alt="{{ key }}" />
        </div>

                {% endif %}
                {% endfor %}
            {% endfor %}
        <div class="col-4">
        </div>
        </div>
    </div>
{% endblock content %}