{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-12" style="margin-top:30px;">
            <h1>Willkommen bei Rezäptbay</h1>
            <h2>Einfache Rezeptübersicht, Rezepterfassung und Essens-Planung der ganzen Woche</h2>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-8">
          <h3>Erfassen eines Rezeptes</h3>
          <p>Ganz einfach ein Rezept erfassen und dieses in den eigenen Favoriten speichern.</p>
        </div>
        <div class="col-4">
            <div class="card card-cascade wider">
              <!--Card image-->
                <img src="../static/img/_1_index.jpg" class="card-img-top" alt="wider" />
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-4">
            <div class="card card-cascade wider">
              <!--Card image-->
                <img src="../static/img/_1_index.jpg" class="card-img-top" alt="wider" />
            </div>
       </div>
        <div class="col-8">
          <h3>Anpassen auf die eigenen Bedürfnisse</h3>
          <p>Verschiedene Einstellungen und Filter verwenden und einfach den Übeerblick behalten.</p>
        </div>
    </div>
        <div class="row" style="margin-top:30px;">
        <div class="col-8">
          <h3>Verwalten eines Wochenplans</h3>
          <p>Essen wöchentlich planen dank Planme. Für alle Wochentage Rezepte hinterlegen und sofort erkennen, was man für die nächste Woche alles braucht und eventuell einkaufen sollte.</p>
        </div>
        <div class="col-4">
            <div class="card card-cascade wider">
              <!--Card image-->
                <img src="../static/img/_1_index.jpg" class="card-img-top" alt="wider" />
            </div>
        </div>
    </div>
{% endblock %}
