{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="col-8">
            <div id="user_id" name="{{ user_id }}">
                <h1>Rezepte suchen und finden</h1>
            </div>
            <div>
                <p>Suche dir leckere Rezepte aus und markiere sie per Button oben rechts. Dannach kannst du dir unter "Meine Woche", alle Menüs in der Übersicht anschauen und dirket einsehen was und wie viel du genau kaufen musst.</p>
            </div>
    <!-- Grid row -->

    {% for d in rl %}
        {% if user_id in d.fav %}
            
        <div class="row" style="margin-bottom:20px;">

            <!-- Grid column -->
            <div class="col-10">
            <!--Card Wider-->
            <div class="card card-cascade wider">
              <!--Card image-->
                <img src="../static/img/rzp_images/{{ d.img }}" class="card-img-top" alt="wider">
                <div class="card-img-overlay text-right">
                    <div class="card-img-overlay text-right">
                        <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/background_weekplan/Montag,{{ d.name }},{{ user_id }}">Montag</a>
                            <a class="dropdown-item" href="/background_weekplan/Dienstag,{{ d.name }},{{ user_id }}">Dienstag</a>
                            <a class="dropdown-item" href="/background_weekplan/Mittwoch,{{ d.name }},{{ user_id }}">Mittwoch</a>
                            <a class="dropdown-item" href="/background_weekplan/Donnerstag,{{ d.name }},{{ user_id }}">Donnerstag</a>
                            <a class="dropdown-item" href="/background_weekplan/Freitag,{{ d.name }},{{ user_id }}">Freitag</a>
                            <a class="dropdown-item" href="/background_weekplan/Samstag,{{ d.name }},{{ user_id }}">Samstag</a>
                            <a class="dropdown-item" href="/background_weekplan/Sonntag,{{ d.name }},{{ user_id }}">Sonntag</a>
                          </div>
                        </div>
                    </div>
                </div>
              <!--/Card image-->

              <!--Card content-->
              <div class="card-body card-body-cascade text-center">
                <!--Title-->
             
               <h4 class="card-title"><strong>{{ d.name }}</strong></h4>
              
                <h6 class="indigo-text"><strong>Zutaten</strong></h6>

                
                    <p class="card-text" style="text-align:center;">
                        {% for e,f in d.zutaten.items() %}
                        <span>
                        {% set list1 = f.split(',') %}
                        {{ list1[1] }}{{ list1[2] }}
                        {{ list1[0] }}
                        </span>
                        <span>
                        </span><br />
                        {% endfor %}
                    </p>

              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card Wider-->

            </div>
        </div>
        {% else %}
        {% endif %}
    {% endfor %}

  <!-- Grid column -->
        </div>
        <div class="col-4">
            <div class="position-fixed">
                <h3 class="mb-4">Rezeptbay</h3>
                <h6>Eigene Rezepte hinterlegen</h6>
                <a href="{{ url_for('rezepte_speichern') }}" ><button type="button" class="btn btn-secondary">Jetzt Speichern</button></a>
                
            </div>
    
    </div>

  <!-- Grid column -->
{% endblock content %}
{% block javascript %}

{% endblock %}