<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="Startseite">Startseite</a></li>
                <li><a href="Warenkorb">Warenkorb</a></li>
                <li><a href="Mein_Profil">Mein Profil</a></li>
            </ul>
        </nav>

        <h1>Hallo {{ name }}!</h1>
        <a href="{{ url_for('test')}}">Weiter zur nächsten Seite..</a>
    </body>
</html>